
body {
  font-family: $font-family-base;
  size: 16pt;
}

page-login {

  .login {
    padding: 0px 40pt;
    background-image: url('../../assets/imgs/CYB_background.png');
    &__logo-row {
      padding-top: 90pt;
      padding-bottom: 39pt;
      &__logo-col {
        padding: 0px 40px;
        &__img {
          height: 30pt;
          width: auto !important;
        }
      }
    }
    &__content {
      &__form {
        margin: 0px 40pt;
      }
      &__item {
        background-color: transparent;
        padding: 0px;
        border-top: 0px !important;
        &__label:focus {
          color: white !important;
          ion-item{
            color: red;
          }
        }
      }
      &__submit-row {
        margin-top: 10pt;
        .submit-btn {
          font-size: 14pt;
          height: 37pt;
          width: 295pt;
          font-weight: 400 !important;
          text-transform: none;
        }
      }

    }
  }

}
