<ion-content class="login" no-bounce>
  <ion-row class="login__logo-row">
    <ion-col class="login__logo-row__logo-col">
      <img class="login__logo-row__logo-col__img" src="../login/../../assets/imgs/CYB_banner.png"/>
    </ion-col>
  </ion-row>
  <div class="login__content">
    <form (ngSubmit)="login()" #registerForm="ngForm" class="login__content__form">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="login__content__item">
              <ion-label color="secondary" floating class="login__content__item__label">USER</ion-label>
              <ion-input type="text" name="userName" [(ngModel)]="registerCredentials.userName" required></ion-input>
            </ion-item>
            <ion-item class="login__content__item">
              <ion-label color="secondary" floating class="login__content__item__label">PASSWORD</ion-label>
              <ion-input   type="password" name="password" [(ngModel)]="registerCredentials.password"
                         required show-hide-input #password></ion-input>
              <ion-icon *ngIf="!isPasswordVisible" name="eye-off" (click)="iconClicked(true)" item-right></ion-icon>
              <ion-icon *ngIf="isPasswordVisible" name="eye" (click)="iconClicked(false)" item-right></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>

      </ion-row>
      <ion-row class="login__content__submit-row">
        <button ion-button class="submit-btn" round type="submit" [disabled]="!registerForm.form.valid">Sign in</button>
      </ion-row>
    </form>
  </div>
</ion-content>
