<ion-content class="login" no-bounce>
  <ion-row class="login__logo-row">
    <ion-col class="login__logo-row__logo-col">
      <img class="login__logo-row__logo-col__img" src="../login/../../assets/imgs/CYB_banner.png"/>
    </ion-col>
  </ion-row>
  <div class="login__content">
    <form (ngSubmit)="login()" #registerForm="ngForm" class="login__content__form">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="login__content__item">
              <ion-label color="secondary" floating class="login__content__item__label">USER</ion-label>
              <ion-input type="text" name="userName" [(ngModel)]="registerCredentials.userName" required></ion-input>
            </ion-item>
            <ion-item class="login__content__item">
              <ion-label color="secondary" floating class="login__content__item__label">PASSWORD</ion-label>
              <ion-input  type="{{isPasswordVisible ? 'text' : 'password'}}" name="password"  [(ngModel)]="registerCredentials.password"
                         required  #password></ion-input>
              <!--<ion-icon  *ngIf="!isPasswordVisible" name="eye-off" (click)="iconClicked(true)" item-right></ion-icon>-->
              <!--<ion-icon  *ngIf="isPasswordVisible" name="eye" (click)="iconClicked(false)" item-right></ion-icon>-->
              <span *ngIf="!isPasswordVisible" class="cyb-icon-ic_show"(click)="iconClicked(true)" item-right></span>
              <span *ngIf="isPasswordVisible" class="cyb-icon-ic_cover"(click)="iconClicked(false)" item-right></span>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="login__content__submit-row">
        <button  ion-button class="submit-btn login__submit" round type="submit" [disabled]="!registerForm.form.valid" #submit>Sign in</button>
      </ion-row>
    </form>
  </div>
</ion-content>
