body {
  font-family: $font-family-base;
  font-size: 14pt;
}

page-login {

  .login {
    padding: 0 40pt;
    background-image: url('../../assets/imgs/CYB_background.png');
    &__logo-row {
      padding-top: 90pt;
      padding-bottom: 39pt;
      &__logo-col {
        padding: 0 40pt;
        &__img {
          height: 30pt;
          width: auto !important;
        }
      }
    }
    &__content {
      &__form {
        margin: 0 40pt;
      }
      &__item {
        background-color: transparent;
        padding: 0;
        border-top: 0;
        ion-input{
          color: $CS22;
        }
      }
      &__submit-row {
        margin-top: 10pt;
        .submit-btn {
          height: 37pt;
          width: 295pt;
          font-weight: 400 !important;
          text-transform: none;
        }
      }

    }
  }

}
