

.cyb-card {
  .card-ios, .card-md {
    position: relative;
    border-left-style: solid;
    border-left-width: 5px;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--threat {
    .card-ios, .card-md {
      border-color: $CC2;
    }
  }

  &--sessions {
    .card-ios, .card-md {
      border-color: $CC4;
    }
  }

  &--accounts {
    .card-ios, .card-md {
      border-color: $CS19;
    }
  }

  &--requests {
    .card-ios, .card-md {
      border-color: $CP1;
    }
  }
}
