

.cyb-card {
  .card-ios, .card-md {
    position: relative;
    border-left-style: solid;
    border-left-width: 5px;
  }

  &__header {
    float: left;
  }

  &__icon {
    float: right;

    &--blue {
      color: $CP1;
    }

    &--red {
      color: $CU1;
    }

    &--orange {
      color: $CU2;
    }
  }

  &__icon-text {
    float: right;
    margin-right: 7px;

    &--blue {
      color: $CP1;
    }

    &--red {
      color: $CU1;
    }

    &--orange {
      color: $CU2;
    }
  }

  &--threat {
    .card-ios, .card-md {
      border-color: $CC2;
    }
  }

  &--sessions {
    .card-ios, .card-md {
      border-color: $CC4;
    }
  }

  &--accounts {
    .card-ios, .card-md {
      border-color: $CS19;
    }
  }

  &--requests {
    .card-ios, .card-md {
      border-color: $CP1;
    }
  }
}
