<ion-card class="details">
  <ion-card-header  class="details-header">
    <ion-title class="details-header__toolbar__title">
      <ion-row class="details-header__toolbar__title-row">
        <ion-col class="details-header__toolbar__title-col">
          {{title}}
        </ion-col>
        <ion-col class="details-header__toolbar__title-col-date">
          {{date}}
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-card-header>
  <ion-list class="details-content">
    <ion-item-divider class="details_content__item">
      <h2 class="key">{{"requested By "| uppercase}}</h2>
      <div class="value">
        {{pendingRequest.requestedBy}}
      </div>
    </ion-item-divider>
    <ion-item-divider class="details_content__item">
      <h2 class="key">{{"account "| uppercase}}</h2>
      <div class="value">
        {{pendingRequest.accountName}}
      </div>
    </ion-item-divider>

    <ion-item-divider class="details_content__item">
      <h2 class="key">
        {{"time frame "| uppercase}}</h2>
      <div class="value">
        {{pendingRequest.timeFrame}}
      </div>
    </ion-item-divider>
    <ion-item-divider class="details_content__item reason">
      <h2 class="key">{{"request reason "| uppercase}}</h2>
      <div class="value">
        {{pendingRequest.reason}}
      </div>
    </ion-item-divider>
  </ion-list>

  <div class="details-footer">
    <ion-row class="details-footer-row">
      <ion-col class="details-footer-row__col">
        <button ion-button full class="request-btn-decline">{{"decline" | uppercase}}</button>
      </ion-col>
      <ion-col class="details-footer-row__col">
        <button ion-button full class="request-btn-approve">{{"approve"}}</button>
      </ion-col>
    </ion-row>
  </div>

</ion-card>
