<ion-card class="details">
  <ion-card-header  class="details-header">
    <ion-title class="details-header__toolbar__title">
      <ion-row class="details-header__toolbar__title-row">
        <ion-col class="details-header__toolbar__title-col">
          {{title}}
        </ion-col>
        <ion-col class="details-header__toolbar__title-col-date">
          {{date}}
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-card-header>

  <ion-list>
    <ion-item-divider class="details_content__item">
      <h2>{{"requested By "| uppercase}}</h2>
      <div>
        {{incomingData.RequestorUserName}}
      </div>
    </ion-item-divider>
    <ion-item-divider class="details_content__item">
      <h2>{{"account "| uppercase}}</h2>
      <div>
        {{incomingData.AccountDetails.Properties['Address']}}
      </div>
    </ion-item-divider>

    <ion-item-divider class="details_content__item" *ngIf="incomingData.AccessFrom && incomingData.AccessTo">
      <h2>{{"time frame "| uppercase}}</h2>
      <div>
        <span class="cyb-icon-timeline"></span>
        {{incomingData.AccessFrom - incomingData.AccessTo}}
      </div>
    </ion-item-divider>
    <ion-item-divider class="details_content__item">
      <h2>{{"request reason "| uppercase}}</h2>
      <div>
        {{incomingData.RequestorReason}}
      </div>
    </ion-item-divider>
  </ion-list>

  <div class="details-footer"  *ngIf="!isReasonDisplay">
    <ion-row class="details-footer-row">
      <ion-col class="details-footer-row__col">
        <button  icon-start  ion-button full class="request-btn-decline" (click)="declineClicked()">  <span class="cyb-icon-decline"></span>{{"reject" | uppercase}}</button>
      </ion-col>
      <ion-col class="details-footer-row__col">
        <button  icon-start  ion-button full class="request-btn-approve" (click)="approveClicked()"> <span class="cyb-icon-approve"></span> {{"confirm"}}</button>
      </ion-col>
    </ion-row>
  </div>
</ion-card>
<div class="details-reason" *ngIf="isReasonDisplay">
  <ion-row class="details-reason-row">
    <ion-title class="details-footer-row__reason-title">Please specify {{actionTitle}} reason</ion-title>
  </ion-row>
  <ion-row class="details-reason-row details-reason-input">
    <ion-textarea placeholder="Insert reason" class="details-footer-row__reason-input" [(ngModel)]="reason"></ion-textarea>
  </ion-row>
  <ion-row class="details-reason-row">
    <ion-col class="details-footer-row__col">
      <button ion-button full class="request-btn-cancel" (click)="cancelClicked()">{{"cancel" | uppercase}}
      </button>
    </ion-col>
    <ion-col class="details-footer-row__col">
      <button ion-button full class="request-btn-apply" (click)="applyClicked()">{{"apply"}}>
      </button>
    </ion-col>
  </ion-row>
</div>
