$reason-font-size: 14pt;
$line-height: 22pt;
$lines-to-show: 4;
$multiline-height: $line-height*$lines-to-show;
pvm-details {
  .card-header-md,.card-header-ios{
    /*overriding card header bg for details only*/
    background-color: #3165bd;
    font-size: 14pt;
  }

  .details{
    position: relative;
    text-align: left;
    font-size: 13pt;

    &-header{
      &__toolbar{
        &__title{
          font-family: "Open Sans";
          font-weight: 600;
          &-col{
            &-date{
              text-align: right;
            }
          }
        }
      }
    }
    &-content{
      .key{
        color: #666666;
        font-size: 13pt;
      }
      .value{
        color: #333333;
        font-weight: 600;
        font-size: 16pt;
      }
      .reason{
        .value{
          font-size: $reason-font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          height: $multiline-height;
          /*padding: 0 15pt;*/
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    &-footer{
      position: fixed;
      bottom: 0;
      width: 100%;
      margin: 10px;
      /*using negative position for aligning the footer according to parent margin*/
      left: -10px;
      &-row{
        &__col{
          padding:0;
          button{
            height: 64px;
            font-size: 16pt;
            &.request-btn{

              &-decline{
                background-color: #f6112d;
              }
              &-approve{
                background-color: #119c64;
              }
            }
          }
        }
      }
    }
  }

}
