$text-input-placeholder-color:$XXX;
$reason-font-size: 14pt;
$line-height: 22pt;
$lines-to-show: 4;
$multiline-height: $line-height*$lines-to-show;
pvm-details {
  .card-header-md, .card-header-ios {
    /*overriding card header bg for details only*/
    background-color: $CP1;
    font-size: 14pt;
  }

  .request-btn {

    &-decline {
      background-color: $CU1;
    }
    &-approve {
      background-color: $CS19;
    }
    &-apply {
      background-color: $CP1;
    }
    &-cancel {
      background-color: $CP10;
    }
  }

  .details {
    position: relative;
    text-align: left;
    font-size: 13pt;
    margin-top: 56pt;

    &-header {
      &__toolbar {
        &__title {
          font-weight: 600;
          &-col {
            &-date {
              text-align: right;
            }
          }
        }
      }
    }
    &-content {
      .key {
        color: $CP11;
        font-size: 13pt;
      }
      .value {
        color: $CP12;
        font-weight: 600;
        font-size: 16pt;
      }
      .reason {
        .value {
          font-size: $reason-font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          height: $multiline-height;
          /*padding: 0 15pt;*/
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    &-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin: 10px;
      /*using negative position for aligning the footer according to parent margin*/
      left: -10px;
      &-row {
        &__col {
          padding: 0;
          button {
            height: 64px;
            font-size: 16pt;
          }
        }

        &-reason {
          position: fixed;
          z-index: 1000;
          height: 258px;
          width: 100%;
          bottom: 56px;
          background: $CP6;
          &-input {
            border: $CS13 1px solid;
            border-radius: 2px;
            color: $XXX;
            margin: 20px;
            textarea {
              height: 120px;
            }
            &-title {
              .toolbar-title-md {
                color: $CP12;
                height: 56px;
                padding-top: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.cyb-icon-approve{
  margin-right: 5px;
}

.cyb-icon-decline{
  margin-right: 5px;
}
.details-row{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
